/* Shared Style */

.bg-primary {
    background-color: #FF4240;
}

.color{
    color: #FF4240;
}

.junior-Program{
    background-image: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(./Images/2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Teenager-Program{
    background-image: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(./Images/3.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Professional-Program{
    background-image: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(./Images/4.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}